.myBanner {
    margin-top: 5px;
    text-align: left;
    padding-bottom: 50px;
    .container {
        max-width: 1140px;
        width: 60%;
        .banner_partner {
            .row {
                .security {
                    h5 {
                        @include text($color-white-0, 12px, $fw-bold-0);
                    }
                    .row {
                        .col-6 {
                            h5 {
                                padding-top: $pd-1;
                                @include text($color-gray-4, $fs-1, $fw-bold-0);
                            }
                        }
                    }
                }
                .partner {
                    h5 {
                        @include text($color-white-0, 12px, $fw-bold-0);
                    }
                    .banner_icon {
                        .icon_line {
                            margin-bottom: 15px;
                            span {
                                margin-right: 15px;
                                img {
                                    border-radius: 50px;
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
                .apps {
                    .row {
                        .col-sm-6 {
                            h5 {
                                @include text($color-white-0, 12px, $fw-bold-0);
                            }
                            span {
                                margin-right: 15px;
                                img {
                                    border-radius: 50px;
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
        hr {
            border-color: white;
        }
        .banner_contact {
            .row {
                .col-sm-1 {
                    img {
                        width: 80px;
                        height: auto;
                        border-radius: 8px;
                    }
                }
                .col-sm-8 {
                    padding-left: 35px;
                    h5 {
                        @include text($color-white-0, $fs-1, $fw-bold-0);
                        margin-bottom: 2px;
                    }
                    p {
                        @include text($color-gray-4, 12px, $fw-bold-0);
                        margin-bottom: 0;
                        span {
                            color: #fb4f35;
                        }
                    }
                }
                .col-sm-3 {
                    text-align: right;
                    img {
                        width: 130px;
                        height: auto;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    @include respond-to("over-frame") {
        .container {
            width: 100%;
            .banner_partner {
                .security {
                    padding-left: 0;
                }
                .apps {
                    padding-right: 0;
                }
            }
        }
    }
    @include respond-to("extra-large") {
        .container {
            max-width: 960px;
        }
    }
    @include respond-to("large") {
        .container {
            max-width: 720px;
            .banner_partner{
                .partner{
                    display: none;
                }
            }
            .banner_contact {
                .row {
                    .col-sm-8 {
                        padding-left: 75px;
                    }
                }
            }
        }
    }
    @include respond-to("medium") {
        .container {
            max-width: 540px;
            .banner_partner {
                .partner {
                    display: none;
                }
            }
            .banner_contact {
                .row {
                    .col-sm-1 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    @include respond-to("small") {
        .container {
            .banner_partner {
                .security,
                .partner {
                    display: none;
                }
                .apps {
                    .row {
                        width: 80%;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: nowrap;
                        .col-sm-6 {
                            text-align: center;
                        }
                    }
                }
            }
            .banner_contact {
                text-align: center;
                .row {
                    .col-sm-1 {
                        padding-left: 0;
                    }
                    .col-sm-8 {
                        padding-left: 15px;
                        padding-top: 10px;
                    }
                    .col-sm-3 {
                        text-align: center;
                    }
                }
            }
        }
    }
}
