.myCinema {
    width: 60%;
    margin: auto;
    .cinema_line {
        border: 1px solid silver;
    }
    .item_line {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    .cinema_logo {
        .item_line {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid silver;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    .theater_logo {
        .item_line {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid silver;
            .theater_line {
                margin-left: 0;
                margin-right: 0;
                .theater_image {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    padding: 0;
                    line-height: 3;
                }
                .theater_name {
                    height: 75px;
                    line-height: 1;
                    text-align: left;
                    padding-left: 15px;
                    span {
                        @include text($color-white-0, $fs-0, $fw-bold-0);
                    }
                    span:first-child {
                        color: #8bc541;
                    }
                    .theater_address {
                        @include text($color-gray-4, $fs-1, $fw-bold-0);
                        padding-top: 6px;
                    }
                    .theater_detail {
                        @include text($color-red-0, $fs-1, $fw-normal);
                    }
                }
            }
        }
    }
    .movie_logo {
        text-align: left;
        .item_line {
            a {
                text-decoration: none;
            }
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid silver;
            opacity: 1;
            .movie_line {
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 15px;
                .movie_image {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    padding: 0;
                    line-height: 3;
                }
                .movie_name {
                    padding-top: 12px;
                    line-height: 0;
                    color: $color-gray-4;
                    p {
                        @include text($color-white-0, $fs-0, $fw-bold-0);
                    }
                    span {
                        @include text($color-gray-4, $fs-1, $fw-normal);
                    }
                }
            }
        }
    }
    .btnsBranch_active,
    .btnsTheater_active {
        opacity: 1;
    }
    @include respond-to("over-frame") {
        width: 100%;
    }
    @include respond-to("large") {
        .theater_logo {
            .item_line {
                .theater_line {
                    padding-bottom: 10px;
                    .theater_name {
                        .theater_detail {
                            display: none;
                        }
                    }
                }
            }
        }
        .movie_logo {
            .item_line {
                .movie_line {
                    .movie_name {
                        line-height: 1.5;
                        p {
                            padding-left: 30px;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @include respond-to("medium") {
        .theater_logo {
            .item_line {
                .theater_line {
                    .theater_name {
                        padding-top: 6px;
                        padding-left: 30px;
                        line-height: 0.5;
                        span {
                            font-size: 12px;
                        }
                        .theater_address {
                            padding-top: 10px;
                            font-size: 8px;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .movie_logo {
            .item_line {
                .movie_line {
                    .movie_name {
                        padding-top: 6px;
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    @include respond-to("small") {
        .cinema_logo {
            .item_line {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .theater_logo {
            .item_line {
                margin-top: 10px;
                .theater_line {
                    .theater_image {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .theater_name {
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .movie_logo {
            .item_line {
                margin-top: 10px;
                .movie_line {
                    padding-bottom: 0;
                    .movie_image {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .movie_name {
                        p {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
    @include respond-to("small") {
        .cinema_logo {
            .item_line {
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .theater_logo {
            .item_line {
                .theater_line {
                    height: 65px;
                    .theater_image {
                        img {
                            display: none;
                        }
                    }
                    .theater_name {
                        padding-left: 5px;
                        .theater_address {
                            display: none;
                        }
                    }
                }
            }
        }
        .movie_logo {
            .item_line {
                .movie_line {
                    .movie_name {
                        p {
                            padding-left: 13px;
                        }
                    }
                }
            }
        }
    }
}
