.myDashboard {
    .dashboard_title {
        text-align: center;
        @include text($color-black-0 !important, $fs-3 !important, $fw-bold);
    }
    .dashboard_sidebar {
        .dashboard_item {
            button {
                @include text($color-black-0 t, 15px, $fw-bold);
                transition: all 0.5s;
                i {
                    margin-right: 20px;
                    width: 30px;
                    @include text($color-black-0 t, 15px, $fw-bold);
                    z-index: 1;
                }
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: greenyellow;
                    color: white;
                }
            }
            .active_button {
                background-color: greenyellow;
                color: white;
            }
        }
    }
}
