.showtimesDM {
    &-name {
        p {
            cursor: context-menu !important;
        }
    }
    @include respond-to("large") {
        &-name {
            padding-top: 0 !important;
        }
    }
    @include respond-to("small") {
        &-name,
        &-image {
            display: none;
        }
    }
}
