.warning {
    .modal-dialog {
        padding-top: 5%;
    }
    &-content {
        text-align: center;
        .modal-header,
        .modal-footer {
            border: none;
        }
    }
    &-image {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
    }
    &-text {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &-button {
        background-color: #0d6efd;
    }
}
