.warning {
    .modal-dialog {
        padding-top: 5%;
    }
    &-header {
        flex-direction: row-reverse;
    }
    &-sign {
        border: 2px solid #545b5e;
        color: #545b5e;

        padding: 0 10px;
        border-radius: 15px;
        transition: all 0.2s !important;
        cursor: pointer;
        &:hover {
            color: #fff;
            border-color: #007bff;
            background-color: #007bff;
        }
    }
    &-content {
        text-align: center;
        .modal-header,
        .modal-footer {
            border: none;
        }
    }
    // &- {
    //     text-align: center;
    // }
    &-image {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
    }
    &-text {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &-button {
        padding: 3px 35px;
        border: none;
        background-color: #665e53;
        &:hover {
            background-color: #007bff;
        }
    }
}
