* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
  background-color: black; }

.myNavbar {
  position: relative;
  background-color: white; }
  .myNavbar .navbar_login {
    display: flex;
    position: absolute;
    right: 3%; }
    .myNavbar .navbar_login .navbar_signIn .btn--signIn {
      box-shadow: none; }
    .myNavbar .navbar_login .navbar_signIn .btn--signIn,
    .myNavbar .navbar_login .navbar_signIn .fa-user {
      color: gray;
      transition: all 0.5s; }
    .myNavbar .navbar_login .navbar_signIn:hover .btn--signIn,
    .myNavbar .navbar_login .navbar_signIn:hover .fa-user {
      color: black; }
    .myNavbar .navbar_login .narbar_signUp .btn--signUp {
      box-shadow: none; }
    .myNavbar .navbar_login .narbar_signUp .fa-map-marker-alt {
      margin-left: 12px; }
    .myNavbar .navbar_login .narbar_signUp .btn--signUp,
    .myNavbar .navbar_login .narbar_signUp .fa-map-marker-alt {
      color: gray;
      transition: all 0.5s; }
    .myNavbar .navbar_login .narbar_signUp:hover .btn--signUp,
    .myNavbar .navbar_login .narbar_signUp:hover .fa-map-marker-alt {
      color: black; }
  @media screen and (max-width: 992px) {
    .myNavbar .navbar_login {
      right: 1%; } }
  .myNavbar .navbar_contain {
    width: 100%; }
    .myNavbar .navbar_contain .navbar_content {
      margin: auto;
      width: 60%;
      justify-content: space-around; }
      .myNavbar .navbar_contain .navbar_content .navbar-nav .nav-item a {
        color: #29303b;
        font-size: 13px;
        font-weight: bold;
        transition: all 0.5s;
        padding: 10px 15px; }
        .myNavbar .navbar_contain .navbar_content .navbar-nav .nav-item a:hover {
          color: #ec5252; }
  @media screen and (max-width: 767px) {
    .myNavbar .container {
      max-width: 100%;
      display: flex;
      align-items: baseline; }
      .myNavbar .container .navbar_contain {
        text-align: left;
        width: 20%; }
        .myNavbar .container .navbar_contain .navbar_content {
          margin: 0; }
          .myNavbar .container .navbar_contain .navbar_content .navbar-nav {
            text-align: left; }
            .myNavbar .container .navbar_contain .navbar_content .navbar-nav .nav-item .nav-link {
              padding: 10px 0;
              padding-bottom: 5px; }
      .myNavbar .container .navbar_login {
        position: unset; } }
  @media screen and (max-width: 576px) {
    .myNavbar .container .navbar_contain {
      width: 35%; } }
  @media screen and (max-width: 368px) {
    .myNavbar .container .navbar_contain {
      width: 50%; } }

.myCarousel .carousel_item {
  position: relative;
  cursor: pointer; }
  .myCarousel .carousel_item:hover span {
    display: block; }
  .myCarousel .carousel_item img {
    width: 100%; }
  .myCarousel .carousel_item span {
    position: absolute;
    top: 50%;
    left: 48%;
    color: #a1a7b3;
    border: 3px solid #a1a7b3;
    padding: 30px;
    font-size: 24px;
    border-radius: 50px;
    display: none;
    transition: all 0.5s;
    cursor: pointer; }
    .myCarousel .carousel_item span:hover {
      color: #fff;
      border: 3px solid #fff; }
.myCarousel .swiper-container .swiper-button-next {
  right: 15px;
  color: gray; }
.myCarousel .swiper-container .swiper-button-prev {
  left: 15px;
  color: gray; }
.myCarousel .swiper-container .swiper-pagination {
  bottom: 40px; }
  .myCarousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: red; }
  .myCarousel .swiper-container .swiper-pagination .swiper-pagination-bullet {
    height: 13px;
    width: 13px; }

.myListMovie {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 60%;
  margin: auto; }
  .myListMovie .list_content .list_tittle {
    margin: auto;
    width: 25%;
    justify-content: space-between;
    display: flex; }
    .myListMovie .list_content .list_tittle a {
      text-decoration: none;
      color: #fff;
      transition: all 0.5s; }
    .myListMovie .list_content .list_tittle .filming {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myListMovie .list_content .list_tittle .filming:hover {
        transform: scale(1.3); }
    .myListMovie .list_content .list_tittle .goingto_film {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myListMovie .list_content .list_tittle .goingto_film:hover {
        transform: scale(1.3); }
    .myListMovie .list_content .list_tittle .active {
      color: #ff4500;
      cursor: context-menu;
      pointer-events: none; }
    @media screen and (max-width: 1600px) {
      .myListMovie .list_content .list_tittle {
        width: 40%; } }
    @media screen and (max-width: 992px) {
      .myListMovie .list_content .list_tittle {
        width: 60%; } }
    @media screen and (max-width: 767px) {
      .myListMovie .list_content .list_tittle {
        width: 50%; }
        .myListMovie .list_content .list_tittle .filming,
        .myListMovie .list_content .list_tittle .goingto_film {
          font-size: 15px; } }
    @media screen and (max-width: 576px) {
      .myListMovie .list_content .list_tittle {
        width: 80%; } }
    @media screen and (max-width: 368px) {
      .myListMovie .list_content .list_tittle {
        width: 100%; }
        .myListMovie .list_content .list_tittle .filming,
        .myListMovie .list_content .list_tittle .goingto_film {
          font-size: 13px; } }
  .myListMovie .list_content .list_movie {
    margin-top: 10px;
    text-align: justify; }
    .myListMovie .list_content .list_movie .card_movie {
      margin-top: 20px;
      max-width: 100%;
      padding: 10px; }
      .myListMovie .list_content .list_movie .card_movie .card {
        background-color: transparent;
        border: none; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_play,
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_layout {
          opacity: 1; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_name {
          opacity: 0; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .btn--movie {
          opacity: 1; }
        .myListMovie .list_content .list_movie .card_movie .card .movie_image {
          height: 340px;
          border-radius: 10px; }
        .myListMovie .list_content .list_movie .card_movie .card .card-body {
          padding: 0;
          width: 100%;
          height: 100%;
          transition: all 0.5s; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_name {
            color: #fff;
            font-size: 15px;
            font-weight: normal;
            padding-top: 5px;
            text-align: center; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_layout {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 340px;
            position: absolute;
            cursor: pointer;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), black);
            opacity: 0;
            transition: all 0.5s; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_play {
            position: absolute;
            top: 28%;
            left: 38%;
            color: #fff;
            background-color: transparent;
            padding: 20px 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            outline: none;
            opacity: 0;
            transition: all 0.5s; }
    .myListMovie .list_content .list_movie .slick-slider .slick-next {
      right: -70px; }
    .myListMovie .list_content .list_movie .slick-slider .slick-prev {
      left: -70px; }
    .myListMovie .list_content .list_movie .slick-slider .slick-next:before {
      content: "next";
      font-family: "swiper-icons";
      font-size: 45px;
      color: gray; }
    .myListMovie .list_content .list_movie .slick-slider .slick-prev:before {
      content: "prev";
      font-family: "swiper-icons";
      font-size: 45px;
      color: gray; }
  .myListMovie .list_layout {
    height: 50px; }

.myMovieModal .modal-dialog {
  max-width: 1000px;
  margin: auto; }
.myMovieModal .modal-content {
  width: 100%;
  height: 600px;
  background-color: transparent;
  display: inline;
  border: none; }
  .myMovieModal .modal-content button {
    position: absolute;
    top: -20px;
    right: -20px;
    border: 3px solid;
    border-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    opacity: 1;
    outline: none; }
    .myMovieModal .modal-content button span {
      color: white; }
  .myMovieModal .modal-content iframe {
    width: 100%;
    height: 100%; }

.myCinema {
  width: 60%;
  margin: auto; }
  .myCinema .cinema_line {
    border: 1px solid silver; }
  .myCinema .item_line {
    cursor: pointer;
    opacity: 0.5; }
    .myCinema .item_line:hover {
      opacity: 1; }
  .myCinema .cinema_logo .item_line {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver; }
    .myCinema .cinema_logo .item_line img {
      width: 50px;
      height: 50px; }
  .myCinema .theater_logo .item_line {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver; }
    .myCinema .theater_logo .item_line .theater_line {
      margin-left: 0;
      margin-right: 0; }
      .myCinema .theater_logo .item_line .theater_line .theater_image {
        padding: 0;
        line-height: 3; }
        .myCinema .theater_logo .item_line .theater_line .theater_image img {
          width: 50px;
          height: 50px; }
      .myCinema .theater_logo .item_line .theater_line .theater_name {
        height: 75px;
        line-height: 1;
        text-align: left;
        padding-left: 15px; }
        .myCinema .theater_logo .item_line .theater_line .theater_name span {
          color: #fff;
          font-size: 15px;
          font-weight: 600; }
        .myCinema .theater_logo .item_line .theater_line .theater_name span:first-child {
          color: #8bc541; }
        .myCinema .theater_logo .item_line .theater_line .theater_name .theater_address {
          color: #686f7a;
          font-size: 13px;
          font-weight: 600;
          padding-top: 6px; }
        .myCinema .theater_logo .item_line .theater_line .theater_name .theater_detail {
          color: #ec5252;
          font-size: 13px;
          font-weight: normal; }
  .myCinema .movie_logo {
    text-align: left; }
    .myCinema .movie_logo .item_line {
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid silver;
      opacity: 1; }
      .myCinema .movie_logo .item_line a {
        text-decoration: none; }
      .myCinema .movie_logo .item_line .movie_line {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px; }
        .myCinema .movie_logo .item_line .movie_line .movie_image {
          padding: 0;
          line-height: 3; }
          .myCinema .movie_logo .item_line .movie_line .movie_image img {
            width: 50px;
            height: 50px; }
        .myCinema .movie_logo .item_line .movie_line .movie_name {
          padding-top: 12px;
          line-height: 0;
          color: #686f7a; }
          .myCinema .movie_logo .item_line .movie_line .movie_name p {
            color: #fff;
            font-size: 15px;
            font-weight: 600; }
          .myCinema .movie_logo .item_line .movie_line .movie_name span {
            color: #686f7a;
            font-size: 13px;
            font-weight: normal; }
  .myCinema .btnsBranch_active,
  .myCinema .btnsTheater_active {
    opacity: 1; }
  @media screen and (max-width: 1600px) {
    .myCinema {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .myCinema .theater_logo .item_line .theater_line {
      padding-bottom: 10px; }
      .myCinema .theater_logo .item_line .theater_line .theater_name .theater_detail {
        display: none; }
    .myCinema .movie_logo .item_line .movie_line .movie_name {
      line-height: 1.5; }
      .myCinema .movie_logo .item_line .movie_line .movie_name p {
        padding-left: 30px; }
      .myCinema .movie_logo .item_line .movie_line .movie_name span {
        display: none; } }
  @media screen and (max-width: 767px) {
    .myCinema .theater_logo .item_line .theater_line .theater_name {
      padding-top: 6px;
      padding-left: 30px;
      line-height: 0.5; }
      .myCinema .theater_logo .item_line .theater_line .theater_name span {
        font-size: 12px; }
      .myCinema .theater_logo .item_line .theater_line .theater_name .theater_address {
        padding-top: 10px;
        font-size: 8px;
        line-height: 1; }
    .myCinema .movie_logo .item_line .movie_line .movie_name {
      padding-top: 6px; }
      .myCinema .movie_logo .item_line .movie_line .movie_name p {
        font-size: 12px; } }
  @media screen and (max-width: 576px) {
    .myCinema .cinema_logo .item_line img {
      width: 30px;
      height: 30px; }
    .myCinema .theater_logo .item_line {
      margin-top: 10px; }
      .myCinema .theater_logo .item_line .theater_line .theater_image img {
        width: 30px;
        height: 30px; }
      .myCinema .theater_logo .item_line .theater_line .theater_name span {
        font-size: 10px; }
    .myCinema .movie_logo .item_line {
      margin-top: 10px; }
      .myCinema .movie_logo .item_line .movie_line {
        padding-bottom: 0; }
        .myCinema .movie_logo .item_line .movie_line .movie_image img {
          width: 30px;
          height: 30px; }
        .myCinema .movie_logo .item_line .movie_line .movie_name p {
          font-size: 8px; } }
  @media screen and (max-width: 576px) {
    .myCinema .cinema_logo .item_line img {
      width: 15px;
      height: 15px; }
    .myCinema .theater_logo .item_line .theater_line {
      height: 65px; }
      .myCinema .theater_logo .item_line .theater_line .theater_image img {
        display: none; }
      .myCinema .theater_logo .item_line .theater_line .theater_name {
        padding-left: 5px; }
        .myCinema .theater_logo .item_line .theater_line .theater_name .theater_address {
          display: none; }
    .myCinema .movie_logo .item_line .movie_line .movie_name p {
      padding-left: 13px; } }

.myDashboard .dashboard_title {
  text-align: center;
  color: #29303b !important;
  font-size: 24px !important;
  font-weight: bold; }
.myDashboard .dashboard_sidebar .dashboard_item button {
  color: #29303b t;
  font-size: 15px;
  font-weight: bold;
  position: relative; }
  .myDashboard .dashboard_sidebar .dashboard_item button i {
    color: #29303b t;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 20%; }
  .myDashboard .dashboard_sidebar .dashboard_item button:focus {
    outline: none; }
.myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist {
  color: #29303b;
  font-size: 13px;
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: all 0.5s;
  cursor: pointer; }
  .myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist:hover {
    background: greenyellow;
    color: white; }
  .myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist button {
    margin-left: 50px; }

.myBranch {
  position: relative; }
  .myBranch .add_branch {
    position: absolute;
    font-size: fs-1;
    top: -65px;
    right: 5px; }

.myDetailsMovie {
  width: 100%;
  height: 550px;
  position: relative;
  margin-bottom: 10px; }
  .myDetailsMovie .backgroud_cover {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px); }
  .myDetailsMovie .cover_second {
    z-index: 0;
    width: 100%;
    height: 102%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, black); }
  .myDetailsMovie .container {
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 150px;
    height: 500px;
    z-index: 1; }
    .myDetailsMovie .container .movie_image {
      position: relative; }
      .myDetailsMovie .container .movie_image:hover .movie_play {
        opacity: 1; }
      .myDetailsMovie .container .movie_image .movie_play {
        position: absolute;
        top: 40%;
        left: 38%;
        color: #fff;
        background-color: transparent;
        padding: 20px 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        outline: none;
        opacity: 0;
        transition: all 0.5s; }
    .myDetailsMovie .container .movie_name {
      text-align: left;
      margin: auto; }
      .myDetailsMovie .container .movie_name p {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        width: 300px; }
      .myDetailsMovie .container .movie_name button {
        color: #fff;
        font-size: 20px;
        font-weight: 600; }
    .myDetailsMovie .container .movie_rate {
      text-align: center;
      margin: auto; }
      .myDetailsMovie .container .movie_rate span {
        color: #fff;
        font-size: 50px;
        font-weight: normal;
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        border: 5px solid greenyellow; }
  @media screen and (max-width: 992px) {
    .myDetailsMovie .container .movie_name {
      padding-left: 65px; }
      .myDetailsMovie .container .movie_name p {
        padding-right: 60px; } }
  @media screen and (max-width: 767px) {
    .myDetailsMovie .container .movie_rate {
      display: none; } }
  @media screen and (max-width: 576px) {
    .myDetailsMovie .container .movie_name p,
    .myDetailsMovie .container .movie_name button {
      font-size: 15px; }
    .myDetailsMovie .container .movie_name p {
      width: 120%; } }
  @media screen and (max-width: 400px) {
    .myDetailsMovie .container .movie_name {
      padding-left: 90px; }
      .myDetailsMovie .container .movie_name p {
        padding-right: 40px; } }
  @media screen and (max-width: 368px) {
    .myDetailsMovie .container .movie_image img {
      width: 160%; }
    .myDetailsMovie .container .movie_name {
      padding-left: 75px; }
      .myDetailsMovie .container .movie_name p,
      .myDetailsMovie .container .movie_name button {
        font-size: 12px; }
      .myDetailsMovie .container .movie_name p {
        padding-right: 25px; } }

.myDetailsMovieModal .modal-dialog {
  max-width: 1000px;
  margin: auto; }
.myDetailsMovieModal .modal-content {
  width: 100%;
  height: 600px;
  background-color: transparent;
  display: inline;
  border: none; }
  .myDetailsMovieModal .modal-content button {
    position: absolute;
    top: -20px;
    right: -20px;
    border: 3px solid;
    border-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    opacity: 1;
    outline: none; }
    .myDetailsMovieModal .modal-content button span {
      color: white; }
  .myDetailsMovieModal .modal-content iframe {
    width: 100%;
    height: 100%; }

.myShowtimes {
  padding-bottom: 50px; }
  .myShowtimes .showtimes_title {
    margin: auto;
    width: 13%;
    justify-content: space-between;
    display: flex; }
    .myShowtimes .showtimes_title .showtime_btns {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myShowtimes .showtimes_title .showtime_btns:hover {
        transform: scale(1.3); }
    .myShowtimes .showtimes_title .active {
      color: #ff4500;
      cursor: context-menu;
      pointer-events: none; }
    @media screen and (max-width: 1600px) {
      .myShowtimes .showtimes_title {
        width: 20%; } }
    @media screen and (max-width: 992px) {
      .myShowtimes .showtimes_title {
        width: 35%; } }
    @media screen and (max-width: 576px) {
      .myShowtimes .showtimes_title {
        width: 60%; } }
    @media screen and (max-width: 280px) {
      .myShowtimes .showtimes_title {
        width: 70%; } }
  .myShowtimes .showtimes_content {
    margin-top: 10px;
    padding-top: 30px; }
    .myShowtimes .showtimes_content .container .descript_content {
      text-align: left;
      margin: 0 auto;
      width: 60%; }
      .myShowtimes .showtimes_content .container .descript_content .infomation p:first-child {
        color: #fff;
        font-size: 15px;
        font-weight: 600; }
      .myShowtimes .showtimes_content .container .descript_content .infomation p:last-child {
        color: #fff;
        font-size: 13px;
        font-weight: normal;
        text-align: justify; }
      .myShowtimes .showtimes_content .container .descript_content .description p:first-child {
        color: #fff;
        font-size: 15px;
        font-weight: 600; }
      .myShowtimes .showtimes_content .container .descript_content .description p:last-child {
        color: #fff;
        font-size: 13px;
        font-weight: normal;
        text-align: justify; }
    .myShowtimes .showtimes_content .showtimes_detail {
      width: 75%;
      margin: 0 auto; }
      .myShowtimes .showtimes_content .showtimes_detail .cinema_logo .item_line {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid silver;
        cursor: pointer;
        opacity: 0.5; }
        .myShowtimes .showtimes_content .showtimes_detail .cinema_logo .item_line:hover {
          opacity: 1; }
        .myShowtimes .showtimes_content .showtimes_detail .cinema_logo .item_line span:first-child img {
          width: 50px;
          height: 50px; }
        .myShowtimes .showtimes_content .showtimes_detail .cinema_logo .item_line span:last-child {
          padding-left: 10px;
          color: #fff;
          font-size: 15px;
          font-weight: 600; }
      .myShowtimes .showtimes_content .showtimes_detail .cinema_logo .btnsBranch_active {
        opacity: 1; }
      .myShowtimes .showtimes_content .showtimes_detail .cinema_line {
        border: 1px solid silver; }
      .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line {
        cursor: pointer;
        opacity: 0.5;
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid silver; }
        .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line:hover {
          opacity: 1; }
        .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line {
          margin-left: 0;
          margin-right: 0; }
          .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_image {
            padding: 0;
            line-height: 3; }
            .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_image img {
              width: 50px;
              height: 50px; }
          .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_name {
            height: 75px;
            line-height: 1;
            text-align: left;
            padding-left: 15px; }
            .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_name span {
              color: #fff;
              font-size: 15px;
              font-weight: 600; }
            .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_name span:first-child {
              color: #8bc541; }
            .myShowtimes .showtimes_content .showtimes_detail .theater_logo .item_line .theater_line .theater_name .theater_address {
              color: #686f7a;
              font-size: 13px;
              font-weight: 600;
              padding-top: 6px; }
      .myShowtimes .showtimes_content .showtimes_detail .theater_logo .btnsTheater_active {
        opacity: 1; }
    @media screen and (max-width: 992px) {
      .myShowtimes .showtimes_content .container {
        padding-right: 0;
        padding-left: 0;
        max-width: none; }
        .myShowtimes .showtimes_content .container .row {
          width: 100%; } }
    @media screen and (max-width: 576px) {
      .myShowtimes .showtimes_content .container .row .cinema_logo .item_line span {
        font-size: 10px; }
        .myShowtimes .showtimes_content .container .row .cinema_logo .item_line span img {
          width: 30px;
          height: 30px; }
      .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_image img {
        width: 30px;
        height: 30px; }
      .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_name {
        padding-right: 0; }
        .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_name div span {
          font-size: 10px; }
        .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_name .theater_address {
          font-size: 8px; } }
    @media screen and (max-width: 280px) {
      .myShowtimes .showtimes_content .container .row .theater_logo .item_line {
        margin-top: 10px;
        margin-bottom: 10px; }
        .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line {
          height: 65px; }
          .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_name {
            line-height: 0.5;
            padding-top: 15px; }
            .myShowtimes .showtimes_content .container .row .theater_logo .item_line .theater_line .theater_name .theater_address {
              display: none; } }

.myArticle {
  width: 60%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 50px; }
  .myArticle .article_title {
    margin: auto;
    width: 40%;
    justify-content: space-between;
    display: flex; }
    .myArticle .article_title .article_film,
    .myArticle .article_title .article_review,
    .myArticle .article_title .article_promotion {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myArticle .article_title .article_film:hover,
      .myArticle .article_title .article_review:hover,
      .myArticle .article_title .article_promotion:hover {
        transform: scale(1.3); }
    .myArticle .article_title .active {
      color: #ff4500;
      cursor: context-menu;
      pointer-events: none; }
  .myArticle .article_content {
    text-align: justify; }
    .myArticle .article_content .container {
      padding-right: 0;
      padding-left: 0; }
      .myArticle .article_content .container .first_list {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 20px;
        margin: 0 auto; }
        .myArticle .article_content .container .first_list .article_item:first-child {
          padding-left: 0; }
        .myArticle .article_content .container .first_list .article_item:last-child {
          padding-right: 0; }
        .myArticle .article_content .container .first_list .article_item img {
          width: 100%;
          cursor: pointer; }
        .myArticle .article_content .container .first_list .article_item h5 {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          transition: all 0.5s;
          cursor: pointer;
          height: 50px;
          margin-top: 10px;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 20px;
          -webkit-line-clamp: 2;
          height: 38px;
          display: -webkit-box;
          -webkit-box-orient: vertical; }
          .myArticle .article_content .container .first_list .article_item h5:hover {
            color: #ff4500; }
        .myArticle .article_content .container .first_list .article_item p {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal; }
      .myArticle .article_content .container .second_list .article_item img {
        width: 100%;
        cursor: pointer; }
      .myArticle .article_content .container .second_list .article_item h5 {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.5s;
        cursor: pointer;
        height: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 2;
        height: 38px;
        display: -webkit-box;
        -webkit-box-orient: vertical; }
        .myArticle .article_content .container .second_list .article_item h5:hover {
          color: #ff4500; }
      .myArticle .article_content .container .second_list .article_item p {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }

.myApps {
  margin-top: 30px;
  height: 585px;
  padding: 80px 0 35px 0;
  background-size: 1190px 550px;
  background-repeat: repeat-x;
  text-align: left; }
  .myApps .container {
    max-width: 1140px;
    width: 60%; }
    .myApps .container .app_intro {
      padding-top: 60px; }
      .myApps .container .app_intro h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.5; }
      .myApps .container .app_intro p:nth-child(2) {
        padding-top: 15px;
        color: #fff;
        font-size: 17px;
        font-weight: normal;
        color: #f4f2ee; }
      .myApps .container .app_intro button {
        margin-top: 10px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 20px;
        background-color: #bd1c03;
        color: white;
        border: none;
        border-radius: 10px; }
        .myApps .container .app_intro button:focus {
          outline: none; }
      .myApps .container .app_intro p:last-child {
        padding-top: 10px;
        color: #fff;
        font-size: 13px;
        font-weight: normal; }
    .myApps .container .app_phone .phone_content {
      margin: 0 auto;
      height: 400px;
      width: 45%; }
      .myApps .container .app_phone .phone_content .swiper-container {
        border-radius: 20px;
        border-left: 5px solid #3e3200;
        border-right: 5px solid #3e3200; }
        .myApps .container .app_phone .phone_content .swiper-container .phone_item {
          cursor: pointer; }
          .myApps .container .app_phone .phone_content .swiper-container .phone_item img {
            width: 100%;
            height: 420px; }

.myBanner {
  margin-top: 5px; }
  .myBanner .container {
    max-width: 1140px;
    width: 60%; }
    .myBanner .container .banner_partner {
      text-align: left; }
      .myBanner .container .banner_partner .row .security h5 {
        color: #fff;
        font-size: 12px;
        font-weight: 600; }
      .myBanner .container .banner_partner .row .security .row .col-6 h5 {
        padding-top: 10px;
        color: #686f7a;
        font-size: 13px;
        font-weight: 600; }
      .myBanner .container .banner_partner .row .partner h5 {
        color: #fff;
        font-size: 12px;
        font-weight: 600; }
      .myBanner .container .banner_partner .row .partner .banner_icon .icon_line {
        margin-bottom: 15px; }
        .myBanner .container .banner_partner .row .partner .banner_icon .icon_line span {
          margin-right: 15px; }
          .myBanner .container .banner_partner .row .partner .banner_icon .icon_line span img {
            border-radius: 50px;
            width: 30px;
            height: 30px; }
      .myBanner .container .banner_partner .row .apps .row .col-6 h5 {
        color: #fff;
        font-size: 12px;
        font-weight: 600; }
      .myBanner .container .banner_partner .row .apps .row .col-6 span {
        margin-right: 15px; }
        .myBanner .container .banner_partner .row .apps .row .col-6 span img {
          border-radius: 50px;
          width: 30px;
          height: 30px; }

.btn--signIn {
  color: #686f7a;
  background-color: transparent;
  font-weight: normal;
  border: 1px solid #a1a7b3;
  font-size: 13px;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-radius: 0; }
  .btn--signIn:hover {
    color: #686f7a; }

.btn--signUp {
  color: #686f7a;
  background-color: transparent;
  font-weight: normal;
  border: 1px solid #a1a7b3;
  font-size: 13px;
  border: none; }
  .btn--signUp:hover {
    color: #686f7a; }

.btn--movie {
  color: #fff;
  background-color: #ab1a03;
  font-weight: normal;
  border: 1px solid none;
  position: absolute;
  width: 100%;
  top: 335px;
  left: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 5px; }
  .btn--movie:hover {
    color: #fff; }

.btn--edit {
  padding-left: 30px;
  padding-right: 30px; }

.btn--delete {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px; }

/*# sourceMappingURL=style.css.map */
