* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
  background-color: black; }

.myNavbar {
  position: relative;
  background-color: white; }
  .myNavbar .navbar_login {
    display: flex;
    position: absolute;
    right: 3%; }
    .myNavbar .navbar_login .navbar_signIn .btn--signIn {
      box-shadow: none; }
    .myNavbar .navbar_login .navbar_signIn .btn--signIn,
    .myNavbar .navbar_login .navbar_signIn .fa-user {
      color: gray;
      transition: all 0.5s; }
    .myNavbar .navbar_login .navbar_signIn:hover .btn--signIn,
    .myNavbar .navbar_login .navbar_signIn:hover .fa-user {
      color: black; }
    .myNavbar .navbar_login .narbar_signUp .btn--signUp {
      box-shadow: none; }
    .myNavbar .navbar_login .narbar_signUp .fa-map-marker-alt {
      margin-left: 12px; }
    .myNavbar .navbar_login .narbar_signUp .btn--signUp,
    .myNavbar .navbar_login .narbar_signUp .fa-map-marker-alt {
      color: gray;
      transition: all 0.5s; }
    .myNavbar .navbar_login .narbar_signUp:hover .btn--signUp,
    .myNavbar .navbar_login .narbar_signUp:hover .fa-map-marker-alt {
      color: black; }
  @media screen and (max-width: 992px) {
    .myNavbar .navbar_login {
      right: 1%; } }
  .myNavbar .navbar_contain {
    width: 100%; }
    .myNavbar .navbar_contain .navbar_content {
      margin: auto;
      width: 60%;
      justify-content: space-around; }
      .myNavbar .navbar_contain .navbar_content .navbar-nav .nav-item a {
        color: #29303b;
        font-size: 13px;
        font-weight: bold;
        transition: all 0.5s;
        padding: 10px 15px; }
        .myNavbar .navbar_contain .navbar_content .navbar-nav .nav-item a:hover {
          color: #ec5252; }
  @media screen and (max-width: 767px) {
    .myNavbar .container {
      max-width: 100%;
      display: flex;
      align-items: baseline; }
      .myNavbar .container .navbar_contain {
        text-align: left;
        width: 20%; }
        .myNavbar .container .navbar_contain .navbar_content {
          margin: 0; }
          .myNavbar .container .navbar_contain .navbar_content .navbar-nav {
            text-align: left; }
            .myNavbar .container .navbar_contain .navbar_content .navbar-nav .nav-item .nav-link {
              padding: 10px 0;
              padding-bottom: 5px; }
      .myNavbar .container .navbar_login {
        position: unset; } }
  @media screen and (max-width: 576px) {
    .myNavbar .container .navbar_contain {
      width: 35%; } }
  @media screen and (max-width: 368px) {
    .myNavbar .container .navbar_contain {
      width: 50%; } }

.myCarousel .carousel_item {
  position: relative;
  cursor: pointer; }
  .myCarousel .carousel_item:hover span {
    display: block; }
  .myCarousel .carousel_item img {
    width: 100%; }
  .myCarousel .carousel_item span {
    position: absolute;
    top: 50%;
    left: 48%;
    color: #a1a7b3;
    border: 3px solid #a1a7b3;
    padding: 30px;
    font-size: 24px;
    border-radius: 50px;
    display: none;
    transition: all 0.5s;
    cursor: pointer; }
    .myCarousel .carousel_item span:hover {
      color: #fff;
      border: 3px solid #fff; }
.myCarousel .swiper-container .swiper-button-next {
  right: 15px;
  color: gray; }
.myCarousel .swiper-container .swiper-button-prev {
  left: 15px;
  color: gray; }
.myCarousel .swiper-container .swiper-pagination {
  bottom: 40px; }
  .myCarousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: red; }
  .myCarousel .swiper-container .swiper-pagination .swiper-pagination-bullet {
    height: 13px;
    width: 13px; }

.myListMovie {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 60%;
  margin: auto; }
  .myListMovie .list_content .list_tittle {
    margin: auto;
    width: 25%;
    justify-content: space-between;
    display: flex; }
    .myListMovie .list_content .list_tittle a {
      text-decoration: none;
      color: #fff;
      transition: all 0.5s; }
    .myListMovie .list_content .list_tittle .filming {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myListMovie .list_content .list_tittle .filming:hover {
        transform: scale(1.3); }
    .myListMovie .list_content .list_tittle .goingto_film {
      background-color: transparent;
      color: #fff;
      border: none;
      transition: all 0.5s;
      outline: none; }
      .myListMovie .list_content .list_tittle .goingto_film:hover {
        transform: scale(1.3); }
    .myListMovie .list_content .list_tittle .active {
      color: #ff4500;
      cursor: context-menu;
      pointer-events: none; }
    @media screen and (max-width: 1600px) {
      .myListMovie .list_content .list_tittle {
        width: 40%; } }
    @media screen and (max-width: 992px) {
      .myListMovie .list_content .list_tittle {
        width: 60%; } }
    @media screen and (max-width: 767px) {
      .myListMovie .list_content .list_tittle {
        width: 50%; }
        .myListMovie .list_content .list_tittle .filming,
        .myListMovie .list_content .list_tittle .goingto_film {
          font-size: 15px; } }
    @media screen and (max-width: 576px) {
      .myListMovie .list_content .list_tittle {
        width: 80%; } }
    @media screen and (max-width: 368px) {
      .myListMovie .list_content .list_tittle {
        width: 100%; }
        .myListMovie .list_content .list_tittle .filming,
        .myListMovie .list_content .list_tittle .goingto_film {
          font-size: 13px; } }
  .myListMovie .list_content .list_movie {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify; }
    .myListMovie .list_content .list_movie .card_movie {
      margin-top: 20px;
      max-width: 100%;
      padding: 10px; }
      .myListMovie .list_content .list_movie .card_movie .card {
        background-color: transparent;
        border: none; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_play,
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_layout {
          opacity: 1; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .movie_name {
          opacity: 0; }
        .myListMovie .list_content .list_movie .card_movie .card:hover .card-body .btn--movie {
          opacity: 1; }
        .myListMovie .list_content .list_movie .card_movie .card .movie_image {
          height: 340px;
          border-radius: 10px; }
        .myListMovie .list_content .list_movie .card_movie .card .card-body {
          padding: 0;
          width: 100%;
          height: 100%;
          transition: all 0.5s; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_name {
            color: #fff;
            font-size: 15px;
            font-weight: normal;
            padding-top: 5px;
            text-align: center; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_layout {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 340px;
            position: absolute;
            cursor: pointer;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), black);
            opacity: 0;
            transition: all 0.5s; }
          .myListMovie .list_content .list_movie .card_movie .card .card-body .movie_play {
            position: absolute;
            top: 28%;
            left: 38%;
            color: #fff;
            background-color: transparent;
            padding: 20px 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            outline: none;
            opacity: 0;
            transition: all 0.5s; }
    .myListMovie .list_content .list_movie .slick-slider .slick-next {
      right: -70px; }
    .myListMovie .list_content .list_movie .slick-slider .slick-prev {
      left: -70px; }
    .myListMovie .list_content .list_movie .slick-slider .slick-next:before {
      content: "next";
      font-family: "swiper-icons";
      font-size: 45px;
      color: gray; }
    .myListMovie .list_content .list_movie .slick-slider .slick-prev:before {
      content: "prev";
      font-family: "swiper-icons";
      font-size: 45px;
      color: gray; }
  .myListMovie .list_layout {
    height: 50px; }

.myMovieModal .modal-dialog {
  max-width: 1000px;
  margin: auto; }
.myMovieModal .modal-content {
  width: 100%;
  height: 600px;
  background-color: transparent;
  display: inline;
  border: none; }
  .myMovieModal .modal-content button {
    position: absolute;
    top: -20px;
    right: -20px;
    border: 3px solid;
    border-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    opacity: 1;
    outline: none; }
    .myMovieModal .modal-content button span {
      color: white; }
  .myMovieModal .modal-content iframe {
    width: 100%;
    height: 100%; }

.myCinema {
  width: 60%;
  margin: auto; }
  .myCinema .cinema_line {
    border: 1px solid silver; }
  .myCinema .item_line {
    cursor: pointer; }
  .myCinema .cinema_logo .item_line {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver; }
    .myCinema .cinema_logo .item_line img {
      width: 50px;
      height: 50px; }
  .myCinema .theater_logo .item_line {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver; }
    .myCinema .theater_logo .item_line .theater_line {
      margin-left: 0;
      margin-right: 0; }
      .myCinema .theater_logo .item_line .theater_line .theater_image {
        padding: 0;
        line-height: 3; }
        .myCinema .theater_logo .item_line .theater_line .theater_image img {
          width: 50px;
          height: 50px; }
      .myCinema .theater_logo .item_line .theater_line .theater_name {
        height: 75px;
        line-height: 1;
        text-align: left;
        padding-left: 15px; }
        .myCinema .theater_logo .item_line .theater_line .theater_name span {
          color: #fff;
          font-size: 15px;
          font-weight: 600; }
        .myCinema .theater_logo .item_line .theater_line .theater_name span:first-child {
          color: #8bc541; }
        .myCinema .theater_logo .item_line .theater_line .theater_name .theater_address {
          color: #686f7a;
          font-size: 13px;
          font-weight: 600;
          padding-top: 6px; }
        .myCinema .theater_logo .item_line .theater_line .theater_name .theater_detail {
          color: #ec5252;
          font-size: 13px;
          font-weight: normal; }
  .myCinema .movie_logo {
    text-align: left; }
    .myCinema .movie_logo .item_line {
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid silver !important; }
      .myCinema .movie_logo .item_line a {
        text-decoration: none; }
      .myCinema .movie_logo .item_line .movie_line {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px; }
        .myCinema .movie_logo .item_line .movie_line .movie_image {
          padding: 0;
          line-height: 3; }
          .myCinema .movie_logo .item_line .movie_line .movie_image img {
            width: 50px;
            height: 50px; }
        .myCinema .movie_logo .item_line .movie_line .movie_name {
          padding-top: 12px;
          line-height: 0;
          color: #686f7a; }
          .myCinema .movie_logo .item_line .movie_line .movie_name p {
            color: #fff;
            font-size: 15px;
            font-weight: 600; }
          .myCinema .movie_logo .item_line .movie_line .movie_name span {
            color: #686f7a;
            font-size: 13px;
            font-weight: normal; }

.myDashboard .dashboard_title {
  text-align: center;
  color: #29303b !important;
  font-size: 24px !important;
  font-weight: bold; }
.myDashboard .dashboard_sidebar .dashboard_item button {
  color: #29303b t;
  font-size: 15px;
  font-weight: bold;
  position: relative; }
  .myDashboard .dashboard_sidebar .dashboard_item button i {
    color: #29303b t;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 20%; }
  .myDashboard .dashboard_sidebar .dashboard_item button:focus {
    outline: none; }
.myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist {
  color: #29303b;
  font-size: 13px;
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: all 0.5s;
  cursor: pointer; }
  .myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist:hover {
    background: greenyellow;
    color: white; }
  .myDashboard .dashboard_sidebar .dashboard_item .dashboard_getlist button {
    margin-left: 50px; }

.myBranch {
  position: relative; }
  .myBranch .add_branch {
    position: absolute;
    font-size: fs-1;
    top: -65px;
    right: 5px; }

.myDetailsMovie {
  width: 100%;
  height: 550px;
  position: relative;
  margin-bottom: 10px; }
  .myDetailsMovie .backgroud_cover {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px); }
  .myDetailsMovie .cover_second {
    z-index: 0;
    width: 100%;
    height: 102%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, black); }
  .myDetailsMovie .container {
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 150px;
    height: 500px;
    z-index: 1; }
    .myDetailsMovie .container .movie_name {
      text-align: left;
      margin: auto; }
      .myDetailsMovie .container .movie_name p {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        width: 300px; }
      .myDetailsMovie .container .movie_name button {
        color: #fff;
        font-size: 20px;
        font-weight: 600; }
    .myDetailsMovie .container .movie_rate {
      text-align: center;
      margin: auto; }
      .myDetailsMovie .container .movie_rate span {
        color: #fff;
        font-size: 50px;
        font-weight: normal;
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        border: 5px solid greenyellow; }

.myShowtimes {
  margin-top: 50px;
  padding-bottom: 50px; }

.btn--signIn {
  color: #686f7a;
  background-color: transparent;
  font-weight: normal;
  border: 1px solid #a1a7b3;
  font-size: 13px;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-radius: 0; }
  .btn--signIn:hover {
    color: #686f7a; }

.btn--signUp {
  color: #686f7a;
  background-color: transparent;
  font-weight: normal;
  border: 1px solid #a1a7b3;
  font-size: 13px;
  border: none; }
  .btn--signUp:hover {
    color: #686f7a; }

.btn--movie {
  color: #fff;
  background-color: #ab1a03;
  font-weight: normal;
  border: 1px solid none;
  position: absolute;
  width: 100%;
  top: 335px;
  left: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 5px; }
  .btn--movie:hover {
    color: #fff; }

.btn--edit {
  padding-left: 30px;
  padding-right: 30px; }

.btn--delete {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px; }

/*# sourceMappingURL=style.css.map */
